
.profile-pic {
    position: relative;
    z-index: 2;
    width: 140px;
    height: 140px;
    border-radius: 150px;
    margin: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards 0.8s;
  }
  
  .profile-pic:hover {
    filter:grayscale()
}

  @keyframes cycle-colors {
    0% { border-color: hsl(0, 100%, 72%); }
    25% { border-color: hsl(90, 100%, 78%); }
    50% { border-color: hsl(180, 100%, 73%); }
    75% { border-color: hsl(270, 53%, 69%); }
    100% { border-color: hsl(0, 100%, 71%); }
  }
  
  @keyframes pulse {
    to {
      opacity: 0;
      transform: scale(1);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .profile-pic::before,
  .profile-pic::after {
    animation: pulse 3s linear infinite;
    border: #aae0f3 solid 5px;
    border-radius: 9999px;
    box-sizing: border-box;
    content: ' ';
    height: 140%;
    left: -18%;
    opacity: .5;
    position: absolute;
    top: -20%;
    transform: scale(0.714);
    width: 140%;
    z-index: -1;
    animation-delay: 3s;
  }
  
  .profile-pic::after {
    animation-delay: 1s;
  }
  
  
  .profile-pic:hover::before,
  .profile-pic:hover::after {
    animation: pulse 1.2s linear infinite, cycle-colors 6s linear infinite;
  }
  
  .profile-pic:hover::after {
    animation-delay: .5s;
  }