.element1 {
  opacity: 0;
  animation: slideInFade 0.8s ease-in-out forwards;
}
  
.element2 {
  opacity: 0;
  animation: slideInFade 0.8s ease-in-out forwards 2s;
  
}

.element3 {
    opacity: 0;
    animation: slideInFade 0.8s ease-in-out forwards 2.5s;
}

  @keyframes slideInFade {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

 